:root {
    --mainColor: #723e6b;
    --secondaryColor: #663461;

    --navColor: #8a4a81;
    --navHighlight:  rgb(253, 151, 255, 0.2);

    --borderColor: #201520;
    
    --mainText: #FFF;
    --secondaryText: #EEE;

    --themeDotBorder: #FFF;

    --previewBg: rgba(83, 54, 80, 0.8);
    --previewShadow: rgb(134, 92, 132);

    --buttonColor: #a33496;

    --carouselIndicator: rgba(255, 255, 255, .4);
    --carouselIndicatorCurrent: rgba(255, 255, 255, .8);
}