:root {
    --mainColor: #15202B;
    --secondaryColor: #192734;

    --navColor: #233647;
    --navHighlight:  rgba(132, 175, 255, 0.2);

    --borderColor:#164D56;
    
    --mainText: #FFF;
    --secondaryText: #EEE;

    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921;

    --buttonColor: #17A2B8;

    --carouselIndicator: rgba(255, 255, 255, .4);
    --carouselIndicatorCurrent: rgba(255, 255, 255, .8);
}