.carousel__container {
    position: relative;
    height: 800px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 35px;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel__caption {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    font-size: 24px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 1px;
    margin: 0px;
    text-shadow: 1px 1px 2px black;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    font-size: 24px;
    left: 0;
    z-index: 1;
}

.carousel__button--right {
    font-size: 24px;
    right: 0px;
}

.carousel__button img {
    width: 12px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--carouselIndicator);
    margin: 0 10px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: var(--carouselIndicatorCurrent);
}

.is-hidden {
    display: none;
}

@media screen and (max-width: 1200px) {
    .main {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'intro__col--left'
            'intro__col--right'
        ;
    }

    .intro__col--right {
        justify-content: center;
    }
}