.carousel__container {
    position: relative;
    box-sizing: border-box;
    height: 60rem;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 4rem 20rem 6rem 20rem;

    background-color: var(--mainColor);
    border: 0.1rem solid var(--borderColor);
    border-radius: 0.5rem;
    margin: 5rem 0;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;

    border-radius: 0.5rem;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    border: 0.1rem solid var(--borderColor);
    border-radius: 0.5rem;
}

.carousel__caption {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    font-size: 2.4rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.1rem;
    margin: 0;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    font-size: 3rem;
    left: 20rem;
    z-index: 1;
}

.carousel__button--right {
    font-size: 3rem;
    right: 20rem;
    padding: 0.5rem;
}

.carousel__button img {
    width: 1.2rem;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--carouselIndicator);
    margin: 0 1rem;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: var(--carouselIndicatorCurrent);
}

.is-hidden {
    display: none;
}

@media screen and (max-width: 1200px) {
    .main {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'intro__col--left'
            'intro__col--right'
        ;
    }

    .intro__col--right {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .nav__item a {
        padding: 1.2rem 0.8rem;
    }

    .greeting {
        min-height: 9rem;
    }

    .greeting h1 {
        font-size: 4rem;
        margin: 2rem 0;
    }

    .intro {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'intro__col--left'
            'intro__col--right'
        ;

        border-radius: 0.5rem;
        padding: 2rem 0;
        margin-bottom: 3rem;
    }

    .intro__col {
        padding: 2rem 0;
    }

    .intro__col--right {
        justify-content: center;
    }

    .intro__description {
        padding-top: 1rem;
    }

    .carousel__container {
        height: 40rem;
        padding: 0 0 3rem 0;
        margin: 2rem 0;
        background-color: transparent;
        border: 0;
        border-radius: 0;
    }

    .carousel__track-container {
        border-radius: 0;
    }

    .carousel__caption {
        font-size: 1.3rem;
    }
       
    .carousel__button--left {
        font-size: 3rem;
        left: 0;
        z-index: 1;
    }
    
    .carousel__button--right {
        font-size: 3rem;
        right: 0;
        padding: 0.5rem;
    }
    
    .carousel__button img {
        width: 1.2rem;
    }
    
    .carousel__nav {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
    
    .carousel__indicator {
        border: 0;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        background: var(--carouselIndicator);
        margin: 0 1rem;
        cursor: pointer;
    }
    
}