.carousel__container {
    position: relative;
    box-sizing: border-box;
    height: 60rem;
    width: 100%;
    overflow: hidden;
    padding: 0rem 20rem 4rem 20rem; 
}

.carousel__track-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-radius: 0.5rem;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.carousel__caption {
    box-sizing: border-box;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    font-size: 2rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    margin: 0;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    font-size: 3rem;
    left: 20rem;
    z-index: 1;
}

.carousel__button--right {
    font-size: 3rem;
    right: 20rem;
    padding: 0.5rem;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--carouselIndicator);
    margin: 0 1rem;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: var(--carouselIndicatorCurrent);
}

.is-hidden {
    display: none;
}

@media only screen and (max-width: 1200px) {

    .carousel__container {
        padding: 0rem 10% 4rem 10%;
    }

    .carousel__caption {
        font-size: 1.9rem;
    }
       
    .carousel__button--left {
        left: 10%;
    }
    
    .carousel__button--right {
        font-size: 3rem;
        right: 10%;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 800px) {

    .carousel__container {
        height: 60rem;
        padding: 0rem 2rem 4rem 2rem;
    }

    .carousel__caption {
        font-size: 1.7rem;
    }
       
    .carousel__button--left {
        font-size: 3rem;
        left: 2rem;
    }
    
    .carousel__button--right {
        font-size: 3rem;
        right: 2rem;
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 620px) {
    .carousel__container {
        height: 40rem;
        padding: 0 0 3rem 0;
        margin: 0;
        background-color: transparent;
        border: 0;
        border-radius: 0;
    }

    .carousel__track-container {
        border-radius: 0;
    }

    .carousel__caption {
        font-size: 1.3rem;
    }
       
    .carousel__button--left {
        font-size: 3rem;
        left: 0;
    }
    
    .carousel__button--right {
        font-size: 3rem;
        right: 0;
        padding: 0.5rem;
    }
    
    .carousel__nav {
        display: flex;
        justify-content: center;
        padding: 1rem 0;
    }
    
    .carousel__indicator {
        border: 0;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        background: var(--carouselIndicator);
        margin: 0 1rem;
        cursor: pointer;
    }
}