/* Core styles */

:root {
    --mainColor: #EAEAEA;
    --secondaryColor: #FFF;

    --navColor: #d1d1d1;
    --navHighlight:  rgba(255, 255, 255, 0.4);

    --linkColor: #1ab9d1;

    --borderColor:#C1C1C1;
    
    --mainText: #000;
    --secondaryText: #4B5156;

    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #F0EAD6;

    --buttonColor: #000;

    --carouselIndicator: rgba(0, 0, 0, .4);
    --carouselIndicatorCurrent: rgba(0, 0, 0, .8);
}

html {
    font-size: 10px;
    padding: 0;
    margin: 0;
    scroll-padding-top: 5rem; /* height of sticky header */
    scroll-behavior: smooth;
    background-color: #000;
}

body {
    padding: 0;
    margin: 0;
}

body * {
    transition: 0.3s;
}

h1, h2, h3, h4, h5, h6, strong {
    color: var(--mainText);
    font-weight: 500;
    font-family: 'Russo One', sans-serif;
}

p, li, span, label, input, textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: var(--linkColor);
}

ul {
    list-style: none;
}

h1 { font-size:5.6rem }
h2 { font-size:3.6rem }
h3 { font-size:2.8rem }
h4 { font-size:2.4rem }
h5 { font-size:2.0rem }
h6 { font-size:1.6rem }
a, p, li, span, label, input, textarea { font-size: 1.5rem }

.is-hidden {
    display: none;
}

/* Div styles */

.section {
    border-bottom: 0.1rem solid var(--borderColor);
    overflow: auto;
}

.section--mainColor {
    background-color: var(--mainColor);
}

.section--secondaryColor {
    background-color: var(--secondaryColor);
}

.main {
    width: 120rem;
    margin: 0 auto;
}

.border {
    border: 0.1rem solid var(--borderColor);
    border-radius: 0.5rem;
}

.shadow {
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}


.intro {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
    grid-template-areas: 
    'greeting greeting greeting greeting'
    '. intro__col--left intro__col--right .'
    ;
    
    background-color: var(--secondaryColor);
    margin: 10rem 0 5rem;
    padding: 2rem;
}

.intro__greeting {
    grid-area: greeting;
    text-align: center;
    padding: 2rem;
}

.intro__greeting h1 {
    margin: 0;
}

.intro__col {
    padding: 2rem 0;
}

.intro__col--left {
    grid-area: intro__col--left;
}

.intro__image {
    display: block;
    margin: 0 auto;

    height: 25rem;
    width: 25rem;
    object-fit: cover;
    border: 0.2rem solid var(--borderColor);
}

.intro__col--right {
    grid-area: intro__col--right;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 3rem;
}

.preview__shadow {
    background-color: var(--previewShadow);
    width: 27rem;
    height: 18.1rem;
    padding-left: 3rem;
    padding-top: 3rem;
}

.preview {
    box-sizing: border-box;
    width: 30rem;
    border: 0.1rem solid var(--borderColor);
    background-color: var(--previewBg);
    padding: 1.5rem 2rem;
}

.preview h3 {
    margin: 1.5rem 0;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    padding: 5rem 3rem;
    gap: 5rem;
    background-color: var(--mainColor);
    margin: 5rem 0;
}

.about__title {
    margin-top: 0;
}

.about__skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.about__skills ul {
    padding: 0;
}

.about__social {
    display: grid;
    align-content: center;
    text-align: center;
}

.about__social h4 {
    margin: 2.5rem 0;
}

.about__img {
    width: 100%;
    object-fit: cover;
    max-height: 40rem;
}

.about__links {
    display: grid;
    gap: 0.5rem;
}

.about__links h5 {
    color: #1ab9d1;
    margin: 0;
}

.projects {
    display: grid;
    grid-template-rows: 5rem repeat(auto-fit, 35rem);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 32rem));
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);
    padding: 3rem;
    margin: 5rem 0;
    overflow: hidden;
}

.projects__header {
    text-align: center;
    grid-column: 1 / -1;
    margin: 0;
}

.projects__project {
    border-radius: 0;
}

.projects__project:hover {
    cursor: pointer;
}

.projects__thumbnail {
    display: block;
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.projects__preview {
    background-color: #fff;
    padding: 1rem;
}

.projects__title {
    color: #000;
    margin: 0;
}

.projects__intro {
    height: 6rem;
    color: #4B5156;
    font-size: 1.4rem;
    overflow: hidden;
}

.projects__link {
    margin: 0;
    color: var(--linkColor);
}

.contact__form {
    display: block;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--mainColor);
    margin-bottom: 5rem;
}

.contact__form label {
    line-height: 4.3rem;
}

.contact__form textarea {
    min-height: 10rem;
    font-size: 1.4rem;
}

.contact__input {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondaryColor);
    font-size: 1.4rem;
}

.contact__btn {
    cursor: pointer;
    width:100%;
    margin-top: 1rem;
    padding: 1rem 0;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}

.contact__btn:hover {
    background-color: var(--buttonColor);
}

.contact__alert {
    margin: 1rem auto;
    max-width: 61rem;
}

.success {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: #468847;
    background-color: #dff0d8;
    border: 0.1rem solid #d6e9c6;
    border-radius: 0.5rem;
}
  
.error {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color: #b94a48;
    background-color: #f2dede;
    border: 0.1rem solid rgba(185, 74, 72, 0.3);
    border-radius: 0.5rem;
}

.footer {
    display: grid;
    grid-template-columns: 20% 2fr 0.1fr 0.1fr 0.1fr 20%;
    min-height: 5rem;
    gap: 1rem;
    background-color: #000;
}

.footer * {
    color: #fff;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.footer__copyright {
    grid-column: 2;
    font-size: 1.2rem;
    justify-self: left;
}

.footer__email {
    grid-column: 3;
}

.footer__email {
    font-size: 2rem;
}

.footer__github {
    grid-column: 4;
    font-size: 2rem;
}

.footer__linkedin {
    grid-column: 5;
    font-size: 2rem;
}

@media screen and (max-width: 1200px) {
 
    .main {
        width: 95%;
    }

    .footer {
        grid-template-columns: 10% 2fr 0.1fr 0.1fr 0.1fr 10%;
    }

}

@media screen and (max-width: 800px) {

    .intro__greeting h1 {
        font-size: 5rem;
    }

    .intro {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'greeting'
            'intro__col--left'
            'intro__col--right'
        ;
        padding-bottom: 3rem;
    }

    .intro__col--right {
        justify-content: center;
    }

    .about {
        padding: 3rem;
        gap: 3rem;
        margin: 5rem 0;
    }

    .about__me h4 {
        margin: 1rem 0;
    }
    
}

@media screen and (max-width: 600px) {

    .intro__greeting h1 {
        font-size: 4rem;
    }

    .intro {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'greeting'
            'intro__col--left'
            'intro__col--right'
        ;

        border-radius: 0.5rem;
        padding-bottom: 5rem;
        margin-bottom: 5rem;
    }

    .intro__col {
        padding: 2rem 0;
    }

    .intro__col--right {
        justify-content: center;
    }

    .intro__image {
        height: 23rem;
        width: 23rem;
    }

    .preview {
        width: 23rem;
        height: 21rem;
        padding: 1rem;
    }

    .preview__shadow {
        width: 20rem;
        height: 18rem;
        padding-left: 3rem;
        padding-top: 3rem;
    }

    .about {
        padding: 1rem 1rem 2rem 1rem;
        gap: 3rem;
        margin: 5rem 0;
    }

    .about__me h4 {
        margin: 1rem 0;
    }

}