.nav {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 50rem 60rem 1fr;
    align-items: center;
    width: 100%;
    min-height: 5rem;
    z-index: 10;
    background: var(--navColor);
    transition: all 0.3s ease;
}

.nav__dropdown {
    display: none;
    position: fixed;
    background-color: var(--navColor);
    margin-top: 1.4rem;
    padding-left: 0;
    height: 12rem;
    width: 10rem;
    transform: translate(-2rem);
}

.nav ul li:hover > ul{
    display: grid;
}

.dropdown__item {
    display: flex;
    justify-content: left;
    padding: 1rem;
    gap: 1rem;
    color: var(--mainText);
}

.nav__logo {
    grid-column: 2/3;
    justify-self: left;
    z-index: 11;
}

.nav__logo img {
    height: 2.5rem;
}

.nav__bar {
    grid-column: 3/4;
    display: flex;
    justify-self: right;
    padding: 0;
    margin: 0;
}

.nav__item {
    box-sizing: border-box;
    min-height: 5rem;
    font-size: 2rem;
}

.nav__item:hover, .nav__menu:hover, .dropdown__item:hover {
    background-color: var(--navHighlight);
    text-decoration: underline;
}

.nav__item, .nav__menu {
    color: var(--mainText);
    cursor: pointer;
    padding: 1rem;
}

.nav__menu, .nav__menu i {
    display: none;
}

.theme__dot {
    display: flex;
    align-self: center;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 0.2rem solid #000;
    cursor: pointer;
}

.theme__dot--light {
    background-color: #fff;
}

.theme__dot--blue {
    background-color: #263c50;
}

.theme__dot--pink {
    background-color: #723e6b;
}

.back-to-top {
    position: fixed;
    height: 4.5rem;
    width: 4.2rem;
    background: var(--navColor);
    right: 3rem;
    bottom: 1rem;
    text-align: center;
    line-height: 4.5rem;
    color: var(--mainText);
    z-index: 11;
    font-size: 3rem;
    border-radius: 0.6rem;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    border: 0.1rem solid var(--borderColor);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

.back-to-top.show {
    bottom: 3rem;
    opacity: 1;
    pointer-events: auto;
}

.back-to-top i {
    line-height: 4.5rem;
}

/* responsive media query start */

@media (max-width: 1200px) {
    
    .nav {
        grid-template-columns: 1fr 1fr;
    }

    .nav__logo {
        grid-column: 1;
        margin-left: 7rem;
    }

    .nav__bar {
        grid-column: 2;
        margin-right: 5rem;
    }

}

@media (max-width: 800px) {

    .nav__bar {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--navColor);
        text-align: center;
        padding-top: 8rem;
        padding-left: 0;
        transition: all 0.3s ease;
    }

    .nav__dropdown {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 100%;
        height: auto;
        margin-top: -4.7rem;
    }

    .dropdown__item {
        display: flex;
        justify-content: center;
        align-self: center;
        width: auto;
        margin: 0;
        padding: 2rem;
        gap: 1rem;
        color: var(--mainText);
    }

    .nav__bar > .nav__item {
        color: transparent;
    }
    
    .nav__bar.active {
        left: 0;
    }
    
    .nav__menu {
        grid-column: 4/5;
    }
    
    .nav__menu i {
        font-size: 3rem;
        display: block;
        color: var(--mainText);
        margin-right: 2rem;
    }

    .nav__item, .nav__menu {
        display: block;
        padding: 2rem;
        z-index: 11;
    }
    
    .nav__item li {
        font-size: 2rem;
    }
    .nav__item:hover, .nav__menu:hover, .dropdown__item:hover {
        background-color: transparent;
    }

    /* \f00d is the 'X' fontAwesome icon */
    .nav__menu i.active:before {
        content: "\f00d"; 
    }
}