.project {
    background-color: var(--secondaryColor);
    margin: 7rem 0 2rem; /* margin-top needs to include 50px to account for the sticky nav */
}

.project__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
}

.project__title {
    text-align: center;
    text-decoration: underline;
    margin: 1rem 0;
    font-size: 5rem;
}

.project__languages {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.project__code {
    display: flex;
    justify-content: center;
    margin: 0 auto 1rem auto;
    height: 2.5rem;
    width: 27rem;
    border: 0.1rem solid var(--mainText);
    border-radius: 0.5rem;
}
 
.project__code h6 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 1200px) {
 
    .project__intro {
        margin: 1rem;
    }

    .project__title {
        font-size: 4rem;
    }

    .project__languages {
        padding: 0 4rem;
        font-size: 3rem;
    }
    
}

@media screen and (max-width: 800px) {

    .project {
        margin: 9rem 0 2rem; /* margin-top needs to include 70px to account for the sticky nav */
    }


    .project__intro {
        margin: 0;
    }

    .project__title {
        font-size: 4rem;
    }

    .project__languages {
        font-size: 2.5rem;
        padding: 1rem;
    }

    .project__code {
        height: 2rem;
        width: 22rem;
    }

    .project__code h6 {
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 600px) {

    .project__intro {
        margin: 0;
    }

    .project__title {
        font-size: 3rem;
    }

    .project__languages {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .project__code {
        height: 1.6rem;
        width: 19rem;
    }

    .project__code h6 {
        font-size: 1.4rem;
    }
}